streamlit
SpeechRecognition
ffmpeg-python
pydub
ffmpeg
youtube_dl
matplotlib
pandas
transformers
wordcloud
japanize_matplotlib
plotly
opencv-python
nlplot==1.4.0
torch
torchvision
numpy
pillow
tqdm
firebase-admin
fugashi
ipadic
firebase
networkx
wordcloud
Counter
janome
wave
